#hero {
    padding-top: 5rem;
    background: var(--background);
    background: var(--gradient-background);

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "headline" "content";

        @media(width >= 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "headline headline" 
            "content image";
        }

        @media(width >= 1400px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto 1fr;
            grid-template-areas: 
            "headline image" 
            "content image";
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;
        width: 100%;
       

        @media (width >= 768px) {
            max-width: 700px; 
            font-size: 3rem; 
            margin: 0 auto;
            text-align: center;
            padding-right: 20rem;
            
        }

        @media (width >= 1400px) {
            text-align: left;
            padding-right: 3rem;
        }
    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        text-align: center;
        width: 100%;


        @media (width >= 768px) {
            text-align: left;
            width: 80%;
        }

        p {
            font-size: 18px;
            margin-bottom: 2rem;
        }

        .app-downloads {
            display: grid;
            align-items: start;
            gap: 1rem;
            margin-bottom: 4rem;

            @media (width >= 768px) {
                display: flex;  
                font-size: 17px;
            }

        }

        .btn-chevron {
            margin-bottom: 2rem;
            justify-content: center;

            @media (width >= 768px) {
                justify-content: flex-start;
            }
        }
    }

    .image {
        grid-area: image;
        display: none;
        
        @media(width >= 768px) {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}