#money-transfer {
    padding: 5rem 0;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 8rem;
        width: 1024px;

        .column {
            display: flex;  
            align-items: center;
            
            &.left {
                justify-content: flex-end;
            }
            &.right {
                justify-content: flex-start;
            }
        }
    }

    .section-title {
        h2 {
            font-size: 32px;
        }
    }

    .section-body {

        ul {
            padding: 0;
            margin-bottom: 4rem;

            li {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                margin-bottom: 1rem;

                i {
                    color: var(--li-icon);
                }
            }
        }

        .learn-more-link {
            display: flex;
        }
    }
    

}
@media  (max-width: 1024px){
    #money-transfer {
       
        display: none;

    }
}

