#how-does-it-work {
    padding: 5rem 0;
    background-color: var(--section-background);

    .section-title {
        text-align: center;
    }

    .image-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 4rem;
    }

    .section-body {
        text-align: center;
        color: var(--dark-color);
        
    }
    .section-body h3 {
        font-size: 1.5rem;
        font-weight: 720;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .image-slide img {
        max-width: 350px; /* Slightly smaller images for tablet */
    }
}