#header {
    padding: 1rem 0;

    .container {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;
        gap: 3rem;
    }

    .logotype {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        font-size: 1.2em;
        font-weight: 600;
        display: flex;
        gap: 1.5rem;

        .nav-link {
            color: var(--text-color);
    
            &:hover {
                color: var(--link-color);
            }
        }
    }

    .dark-mode {
        .switch-text {
            display: block;
        }
    }
    
    .btn-account {
        display: block;
    }
    .btn-menu {
        display: none; 
    }

    @media (max-width: 1024px) {  /* Tablet & Mobile */
        .container {
            grid-template-columns: auto 1fr auto; /* Adjust grid for smaller screens */
        }

        nav {
            display: none; /* Hide navigation on small screens (optional) */
        }

        .btn-account {
            display: none; /* Hide Sign In button */
        }

        .btn-menu {
            display: block; /* Show menu icon */
        }
    }
    
   
}